body {
	margin:0px;
	z-index: -1;
	background-color:black;
	color:white;
}
.sb {
	float: left;
	transform: rotate(90deg);
	width: 70px;
	height: 50px;
	opacity: 0.5;
	background-color: black;
	border: solid;
	color: red;
	font-size: 18px;
	border-color: rebeccapurple;
}

.sb2 {
	float:right;
	transform: rotate(-90deg);
	width: 70px;
	height: 50px;
	opacity: 0.5;
	background-color: black;
	border:solid;
	color:red;
	font-size:18px;
	border-color:rebeccapurple;
	
}
.sb:hover,.sb2:hover {
	opacity: 0.8;
}
#resim {
	background: url("o1.jpg") center/cover no-repeat;
	user-select: none;
	overflow: hidden;
	height: 100vh;
	min-height: 350px;
	margin-top: 13px;
}
.sbt1 {
	background-color: black;
	border: solid;
	border-color: blueviolet;
	border-radius: 15px;
	margin-left: 10px;
	width: 20px;
	height: 20px;
	transition:border-color 250ms;
}
	.sbt1:hover {
		border-color: aqua;
	}
.sd {position:relative;

	width: 100%;
	height: auto;
	background-color: rebeccapurple;
	margin-top: 340px;
	bottom: 50px;
}
.toplar {
	
	width: 100%;
	height: auto;
	position:relative;
	bottom:-292px;
	z-index:99;
	display: flex;
	flex-direction:row;
	justify-content: center;
	
}
.oyunlar {
	margin-top:35px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.oyunlaryazi {
	
	margin-left: 155px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}