body {
	margin:0px;
	z-index: -1;
}
.sb {
	float: left;
	transform: rotate(90deg);
	width: 70px;
	height: 50px;
	opacity: 0.5;
	background-color: black;
	border: solid;
	color: red;
	font-size: 18px;
	border-color: rebeccapurple;
}

.sb2 {
	float:right;
	transform: rotate(-90deg);
	width: 70px;
	height: 50px;
	opacity: 0.5;
	background-color: black;
	border:solid;
	color:red;
	font-size:18px;
	border-color:rebeccapurple;
	
}
.sb:hover,.sb2:hover {
	opacity: 0.8;
}
#resim {
	
}
.sbt1 {
	background-color: black;
	border: solid;
	border-color: blueviolet;
	border-radius: 15px;
	margin-left: 10px;
	width: 20px;
	height: 20px;
	transition:border-color 250ms;
}
	.sbt1:hover {
		border-color: aqua;
	}
.sd {
	width: 100%;
	height: auto;
	background-color: rebeccapurple;
	margin-top:-33%;
}
.toplar {
	
	width: 100%;
	height: auto;
	margin-top: 27%;
	z-index:99;
	display: flex;
	flex-direction:row;
	justify-content: center;
	
}
