body {
	margin:0px;
	z-index: -1;
	background-color:black;
	color:white;
}
.sb {
	float: left;
	transform: rotate(90deg);
	width: 70px;
	height: 50px;
	opacity: 0.5;
	background-color: black;
	border: solid;
	color: red;
	font-size: 18px;
	border-color: rebeccapurple;
}

.sb2 {
	float:right;
	transform: rotate(-90deg);
	width: 70px;
	height: 50px;
	opacity: 0.5;
	background-color: black;
	border:solid;
	color:red;
	font-size:18px;
	border-color:rebeccapurple;
	
}
.sb:hover,.sb2:hover {
	opacity: 0.8;
}
#resim {
	background: url("o1.jpg") center/cover no-repeat;
	user-select: none;
	overflow: hidden;
	height: 100vh;
	min-height: 350px;
}
.sbt1 {
	background-color: black;
	border: solid;
	border-color: blueviolet;
	border-radius: 15px;
	margin-left: 10px;
	width: 20px;
	height: 20px;
	transition:border-color 250ms;
}
	.sbt1:hover {
		border-color: aqua;
	}
.sd {position:relative;

	width: 100%;
	height: auto;
	background-color: rebeccapurple;
	margin-top: 340px;
	bottom: 50px;
}
.toplar {
	
	width: 100%;
	height: auto;
	position:relative;
	bottom:-292px;
	z-index:99;
	display: flex;
	flex-direction:row;
	justify-content: center;
	
}
#oyunlarbolum {
	transform: skewY(-5deg);
	transition: all linear 0.5s;
}
.oyunlar {
	
	margin-top:82px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.oyunlaryazi {

	
	width:100%;
	font-size:20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.tasarýmlar {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: -600px;

}
#tasarýmlar2 {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 10px;
}
.yazý {
	text-align: center;

	user-select: none;
}
#beyaz {
	transform: rotate(-5deg);
	display: flex;
	background-color: white;
	width: 100%;
	height: 50px;
	z-index: 201 !important;
	transition: all linear 0.7s;
}
#siyah {
	background-color: black;
	width: 110%;
	height: 250px;
	border: solid;
	border-color: black;
	z-index: -1 !important;
	margin-top: -260px;
	margin-left: -50px;
	transform: rotate(-5deg);
	transition: all linear 0.5s;
}
@media only screen and (max-width:768px) {
	.tasarýmarka {
		height: 1500px !important;
	}

	.tasarýmlar {
		margin-top: -1290px;
		flex-direction: column;
	}

	.yazý2 {
		display: none !important;
	}

	.yazý {
		margin-left: 0% !important;
		text-align: center !important;
	}

	.tust {
		width: 100% !important;
	}

	.tr1, .tr2 {
		width: 25%;
	}
	.or1,.oy1 {
	width:100% !important;
	margin-top:40px !important;
	}
	.oy1 {
	margin-top:210px !important;
	}
	.tr3 {
		width: 50%;
	}
	.oyunlar,.oyunlaryazi {
	flex-direction:column !important ;
	}
	.oyunlaryazi {
		margin-top: -907px !important;
	}
	.ustkisim {
	display:none;
	}
	#telbar {
	visibility:visible !important;
	}
}